@tailwind base;
@tailwind components;
@tailwind utilities;

ion-icon {
    color: #003861;
    font-size: 48px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table-header, .table-cell {
    border: 1px solid #000000;
    padding: 8px;
}

.bigger {
    font-weight: bold; 
}

.table-container {
    max-width: 800px;
    margin: 0 auto;
}

.ccTitle, .nextTraining {
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
}

.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product .description {
    text-align: center;
}

.product img {
    width: 400px;
}

